{:format :v3,
 :transitions
 [{:name :transition/inquire-job-message,
   :actor :actor.role/customer,
   :actions [{:name :action/update-protected-data}],
   :to :state/job-inquiry}
  {:name :transition/apply-for-job,
    :actor :actor.role/customer,
    :actions
    [{:name :action/update-protected-data}],
    :to :state/application-pending}
  {:name :transition/apply-for-job-after-inquiry,
    :actor :actor.role/customer,
    :actions
    [{:name :action/update-protected-data}],
    :from :state/job-inquiry,
    :to :state/application-pending}
  {:name :transition/approve-application,
    :actor :actor.role/provider,
    :actions
    [
     {:name :action/create-pending-stock-reservation}
     {:name :action/accept-stock-reservation}],
    :from :state/application-pending,
    :to :state/application-approved}
  {:name :transition/decline-application,
    :actor :actor.role/provider,
    :actions
    [],
    :from :state/application-pending,
    :to :state/application-declined}],
 :notifications
 [{:name :notification/purchase-new-inquiry,
   :on :transition/inquire-job-message,
   :to :actor.role/provider,
   :template :purchase-new-inquiry}
  {:name :notification/new-job-application,
   :on :transition/apply-for-job,
      :to :actor.role/provider,
      :template :purchase-new-application}
  {:name :notification/new-job-application-after-inquiry,
   :on :transition/apply-for-job-after-inquiry,
      :to :actor.role/provider,
      :template :purchase-new-application}
  {:name :notification/job-application-accepted,
   :on :transition/approve-application,
      :to :actor.role/customer,
      :template :purchase-accepted-application}
  {:name :notification/job-application-declined,
   :on :transition/decline-application,
      :to :actor.role/customer,
      :template :purchase-declined-application}]}
